.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-row-align {
  margin-top: 25px;
}
.tab-design {
  margin: 0px 15px 0px 15px;
  font-family: Geneva;
  font-size: 25px;
  color: black;
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.tab-design:hover {
  font-family: Geneva;
  font-size: 25px;
  color: #29648A;
  border-bottom: 2px solid #29648A;
  transition: 0.5s;
}