.pictureEdit {
  width: 350px;
  height: 300px;
}
.navButtons {
  background: black;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 2px solid white;
  border-radius: 0px;
  margin-bottom: 5px;
}
.navButtons:hover {
  background: darkgray;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-color: #2185d0;
  transition: 0.3s;
  border-width: 8px;
  margin-left: 15px;
  width: 300px;
}
.navButtonText {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
.navButtons:hover .navButtonText {
  color: white;
  font-size: 25px;
  transition: 0.3s;
}