.picture-dimensions {
  height: 450px;
  width: 450px;
}
@media (max-width: 990px) {
  .picture-dimensions {
    height: 350px;
    width: 350px;
  }
}
.homeContainer {
  display: flex;
  justify-content: center;
  margin-left: 140px;
}
.homeRow {
  margin-top: 200px;
}
.pictureColumn {

}
.contentColumn {
  background: #191919;
  height: 450px;
  width: 450px;
  position: absolute;
  top: 80px;
  right: 135px;
}
@media (max-width: 1286px) {
  .contentColumn {
    top: 180px;
  }
}
@media (max-width: 990px) {
  .contentColumn {
    top: 180px;
    height: 350px;
    width: 350px;
  }
}
.contentHeader1Open {
  color: #999999;
  font-family: Geneva;
  font-size: 35px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -52px;
  left: 20px;
  transition: 0.5s;
  opacity: 1;
}
.contentHeader1Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 35px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -133px;
  left: 20px;
  transition: 0.5s;
  opacity: 0;
}

.contentHeader2Open {
  color: #999999;
  font-family: Geneva;
  font-size: 35px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -153px;
  left: 225px;
  transition: 0.8s;
  opacity: 1;
}
@media (max-width: 990px) {
  .contentHeader2Open {
    left: 207px;
  }
}
.contentHeader2Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 35px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -234px;
  left: 225px;
  transition: 0.8s;
  opacity: 0;
}
@media (max-width: 990px) {
  .contentHeader2Closed {
    left: 207px;
  }
}

.contentHeader3Open {
  color: white;
  font-family: Geneva;
  font-size: 50px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -174px;
  left: 55px;
  transition: 0.6s;
  opacity: 1;
}
@media (max-width: 990px) {
  .contentHeader3Open {
    top: -223px;
    left: 45px;
  }
}
.contentHeader3Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 35px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -371px;
  left: 55px;
  transition: 0.6s;
  opacity: 0;
}
@media (max-width: 990px) {
  .contentHeader3Closed {
    top: -223px;
    left: 45px;
  }
}

.contentHeader4Open {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -239px;
  left: 45px;
  transition: 0.6s;
  opacity: 1;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader4Open {
    top: -298px;
    left: 35px;
  }
}
.contentHeader4Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -239px;
  left: 45px;
  transition: 0.6s;
  opacity: 0;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader4Closed {
    top: -298px;
    left: 35px;
  }
}

.contentHeader5Open {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -305px;
  left: 100px;
  transition: 0.6s;
  opacity: 1;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader5Open {
    top: -364px;
    left: 86px;
  }
}
.contentHeader5Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -305px;
  left: 100px;
  transition: 0.6s;
  opacity: 0;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader5Closed {
    top: -364px;
    left: 86px;
  }
}

.contentHeader6Open {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -370px;
  left: 163px;
  transition: 0.6s;
  opacity: 1;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader6Open {
    top: -429px;
    left: 144px;
  }
}
.contentHeader6Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 20px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -370px;
  left: 163px;
  transition: 0.6s;
  opacity: 0;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader6Closed {
    top: -429px;
    left: 144px;
  }
}

.contentHeader7Open {
  color: #999999;
  font-family: Geneva;
  font-size: 27px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -451px;
  left: 194px;
  transition: 0.6s;
  opacity: 1;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader7Open {
    top: -510px;
    left: 175px;
  }
}
.contentHeader7Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 27px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -451px;
  left: 194px;
  transition: 0.6s;
  opacity: 0;
  width: 50px;
}
@media (max-width: 990px) {
  .contentHeader7Closed {
    top: -510px;
    left: 175px;
  }
}

.contentHeader8Open {
  background: -webkit-linear-gradient(#999999, #191919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Geneva;
  font-size: 70px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -574px;
  left: 91px;
  transition: 0.6s;
  opacity: 1;
  width: 280px;
  height: 60px;
  padding-top: 20px;
}
@media (max-width: 990px) {
  .contentHeader8Open {
    top: -637px;
    left: 58px;
  }
}
.contentHeader8Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 70px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -574px;
  left: 91px;
  transition: 0.6s;
  opacity: 0;
  width: 280px;
  height: 60px;
  padding-top: 20px;
}
@media (max-width: 990px) {
  .contentHeader8Closed {
    top: -637px;
    left: 58px;
  }
}

.contentHeader9Open {
  color: #999999;
  font-family: Geneva;
  font-size: 27px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -700px;
  left: 76px;
  transition: 0.6s;
  opacity: 1;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999999;
  padding: 15px;
}
@media (max-width: 990px) {
  .contentHeader9Open {
    font-size: 20px;
    top: -783px;
    left: 52px;
    padding: 11px;
    width: 249px;
  }
}
.contentHeader9Open:hover {
  color: white;
  border: 2px solid white;
  padding: 20px;
  cursor: pointer;
}
.contentHeader9Closed {
  color: #999999;
  font-family: Geneva;
  font-size: 27px;
  font-weight: 50;
  text-transform: uppercase;
  position: relative;
  top: -700px;
  left: 76px;
  transition: 0.6s;
  opacity: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999999;
  padding: 15px;
}